## Importing Libraries

In [1]:
# importing libraries
import pandas as pd
import numpy as np

## Reading data

In [4]:
# reading csv file
df = pd.read_csv("C:/Users/hp/Desktop/Day4/iris_dataset.csv")
# pd.read_excel()

## Basic data analysis

In [4]:
# checking size of dataset
df.shape

(150, 5)

In [11]:
df.head(2)

   sepal length  sepal width  petal length  petal width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa

In [13]:
df.head()

   sepal length  sepal width  petal length  petal width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [12]:
df.head(10)

   sepal length  sepal width  petal length  petal width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [14]:
df.columns

Index(['sepal length', 'sepal width', 'petal length', 'petal width', 'iris'], dtype='object')

In [15]:
list(df.columns)

['sepal length', 'sepal width', 'petal length', 'petal width', 'iris']

In [5]:
df

     sepal length  sepal width  petal length  petal width            iris
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
6             4.6          3.4           1.4          0.3     Iris-setosa
7             5.0          3.4           1.5          0.2     Iris-setosa
8             4.4          2.9           1.4          0.2     Iris-setosa
9             4.9          3.1           1.5          0.1     Iris-setosa
10            5.4          3.7           1.5          0.2     Iris-setosa
11            4.8          3.4           1.6          0.2     Iris-setosa
12            4.8          3.0           1.4          0.1     Iris-setosa
13            4.3          3.0           1.1          0.1     Iris-setosa
14            5.8          4.0           1.2          0.2     Iris-setosa
15            5.7          4.4           1.5          0.4     Iris-setosa
16            5.4          3.9           1.3          0.4     Iris-setosa
17            5.1          3.5           1.4          0.3     Iris-setosa
18            5.7          3.8           1.7          0.3     Iris-setosa
19            5.1          3.8           1.5          0.3     Iris-setosa
20            5.4          3.4           1.7          0.2     Iris-setosa
21            5.1          3.7           1.5          0.4     Iris-setosa
22            4.6          3.6           1.0          0.2     Iris-setosa
23            5.1          3.3           1.7          0.5     Iris-setosa
24            4.8          3.4           1.9          0.2     Iris-setosa
25            5.0          3.0           1.6          0.2     Iris-setosa
26            5.0          3.4           1.6          0.4     Iris-setosa
27            5.2          3.5           1.5          0.2     Iris-setosa
28            5.2          3.4           1.4          0.2     Iris-setosa
29            4.7          3.2           1.6          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
120           6.9          3.2           5.7          2.3  Iris-virginica
121           5.6          2.8           4.9          2.0  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
123           6.3          2.7           4.9          1.8  Iris-virginica
124           6.7          3.3           5.7          2.1  Iris-virginica
125           7.2          3.2           6.0          1.8  Iris-virginica
126           6.2          2.8           4.8          1.8  Iris-virginica
127           6.1          3.0           4.9          1.8  Iris-virginica
128           6.4          2.8           5.6          2.1  Iris-virginica
129           7.2          3.0           5.8          1.6  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
132           6.4          2.8           5.6          2.2  Iris-virginica
133           6.3          2.8           5.1          1.5  Iris-virginica
134           6.1          2.6           5.6          1.4  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica
136           6.3          3.4           5.6          2.4  Iris-virginica
137           6.4          3.1           5.5          1.8  Iris-virginica
138           6.0          3.0           4.8          1.8  Iris-virginica
139           6.9          3.1           5.4          2.1  Iris-virginica
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [7]:
# checking first few rows
df.head()

   sepal length  sepal width  petal length  petal width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [17]:
# checking last few rows
df.tail(4)

     sepal length  sepal width  petal length  petal width            iris
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [6]:
df["petal width"].values

array([0.2, 0.2, 0.2, 0.2, 0.2, 0.4, 0.3, 0.2, 0.2, 0.1, 0.2, 0.2, 0.1,
       0.1, 0.2, 0.4, 0.4, 0.3, 0.3, 0.3, 0.2, 0.4, 0.2, 0.5, 0.2, 0.2,
       0.4, 0.2, 0.2, 0.2, 0.2, 0.4, 0.1, 0.2, 0.1, 0.2, 0.2, 0.1, 0.2,
       0.2, 0.3, 0.3, 0.2, 0.6, 0.4, 0.3, 0.2, 0.2, 0.2, 0.2, 1.4, 1.5,
       1.5, 1.3, 1.5, 1.3, 1.6, 1. , 1.3, 1.4, 1. , 1.5, 1. , 1.4, 1.3,
       1.4, 1.5, 1. , 1.5, 1.1, 1.8, 1.3, 1.5, 1.2, 1.3, 1.4, 1.4, 1.7,
       1.5, 1. , 1.1, 1. , 1.2, 1.6, 1.5, 1.6, 1.5, 1.3, 1.3, 1.3, 1.2,
       1.4, 1.2, 1. , 1.3, 1.2, 1.3, 1.3, 1.1, 1.3, 2.5, 1.9, 2.1, 1.8,
       2.2, 2.1, 1.7, 1.8, 1.8, 2.5, 2. , 1.9, 2.1, 2. , 2.4, 2.3, 1.8,
       2.2, 2.3, 1.5, 2.3, 2. , 2. , 1.8, 2.1, 1.8, 1.8, 1.8, 2.1, 1.6,
       1.9, 2. , 2.2, 1.5, 1.4, 2.3, 2.4, 1.8, 1.8, 2.1, 2.4, 2.3, 1.9,
       2.3, 2.5, 2.3, 1.9, 2. , 2.3, 1.8])

In [7]:
df["petal length"].values[67]

4.1

In [8]:
df[65:68]

    sepal length  sepal width  petal length  petal width             iris
65           6.7          3.1           4.4          1.4  Iris-versicolor
66           5.6          3.0           4.5          1.5  Iris-versicolor
67           5.8          2.7           4.1          1.0  Iris-versicolor

In [19]:
df.loc[149]

sepal length               5.9
sepal width                  3
petal length               5.1
petal width                1.8
iris            Iris-virginica
Name: 149, dtype: object

In [10]:
df.loc[56]

sepal length                6.3
sepal width                 3.3
petal length                4.7
petal width                 1.6
iris            Iris-versicolor
Name: 56, dtype: object

In [20]:
df.iloc[149]

sepal length               5.9
sepal width                  3
petal length               5.1
petal width                1.8
iris            Iris-virginica
Name: 149, dtype: object

In [21]:
df.ix[149]

c:\users\aayushi\python36\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

sepal length               5.9
sepal width                  3
petal length               5.1
petal width                1.8
iris            Iris-virginica
Name: 149, dtype: object

In [22]:
# checking data types
df.dtypes

sepal length    float64
sepal width     float64
petal length    float64
petal width     float64
iris             object
dtype: object

In [23]:
# checking column names
df.columns

Index(['sepal length', 'sepal width', 'petal length', 'petal width', 'iris'], dtype='object')

In [11]:
df["petal width"].values[0]

0.20000000000000001

In [13]:
df["petal width"].values[67]

1.0

In [24]:
df.head(2)

   sepal length  sepal width  petal length  petal width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa

In [9]:
# Create the column Child and assign to 0
df["Child"] = 0

In [9]:
df["petal width"]

0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
5      0.4
6      0.3
7      0.2
8      0.2
9      0.1
10     0.2
11     0.2
12     0.1
13     0.1
14     0.2
15     0.4
16     0.4
17     0.3
18     0.3
19     0.3
20     0.2
21     0.4
22     0.2
23     0.5
24     0.2
25     0.2
26     0.4
27     0.2
28     0.2
29     0.2
      ...
120    2.3
121    2.0
122    2.0
123    1.8
124    2.1
125    1.8
126    1.8
127    1.8
128    2.1
129    1.6
130    1.9
131    2.0
132    2.2
133    1.5
134    1.4
135    2.3
136    2.4
137    1.8
138    1.8
139    2.1
140    2.4
141    2.3
142    1.9
143    2.3
144    2.5
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petal width, Length: 150, dtype: float64

In [10]:
df.head()

   sepal length  sepal width  petal length  petal width         iris  Child
0           5.1          3.5           1.4          0.2  Iris-setosa      0
1           4.9          3.0           1.4          0.2  Iris-setosa      0
2           4.7          3.2           1.3          0.2  Iris-setosa      0
3           4.6          3.1           1.5          0.2  Iris-setosa      0
4           5.0          3.6           1.4          0.2  Iris-setosa      0

In [10]:
df["sepal length"].value_counts()

5.0    10
6.3     9
5.1     9
6.7     8
5.7     8
5.5     7
5.8     7
6.4     7
6.0     6
4.9     6
6.1     6
5.4     6
5.6     6
6.5     5
4.8     5
7.7     4
6.9     4
5.2     4
6.2     4
4.6     4
7.2     3
6.8     3
4.4     3
5.9     3
6.6     2
4.7     2
7.6     1
7.4     1
4.3     1
7.9     1
7.3     1
7.0     1
4.5     1
5.3     1
7.1     1
Name: sepal length, dtype: int64

In [12]:
df["sepal length"].value_counts().head(2)

5.0    10
6.3     9
Name: sepal length, dtype: int64

In [46]:
df["iris"].value_counts().head(10)

Iris-virginica     50
Iris-versicolor    50
Iris-setosa        50
Name: iris, dtype: int64

In [16]:
df["Child"] = 0

In [17]:
df.head(3)

   sepal length  sepal width  petal length  petal width         iris  Child
0           5.1          3.5           1.4          0.2  Iris-setosa      0
1           4.9          3.0           1.4          0.2  Iris-setosa      0
2           4.7          3.2           1.3          0.2  Iris-setosa      0

In [19]:
df["Child"] = int("nan")
df.head(1)

ValueError: invalid literal for int() with base 10: 'nan'

In [23]:
df['Child'] = float("nan")

In [24]:
df.count()

sepal length    150
sepal width     150
petal length    150
petal width     150
iris            150
Child             0
dtype: int64

In [25]:
df.head(4)

   sepal length  sepal width  petal length  petal width         iris  Child
0           5.1          3.5           1.4          0.2  Iris-setosa    NaN
1           4.9          3.0           1.4          0.2  Iris-setosa    NaN
2           4.7          3.2           1.3          0.2  Iris-setosa    NaN
3           4.6          3.1           1.5          0.2  Iris-setosa    NaN

In [26]:
df.dtypes

sepal length    float64
sepal width     float64
petal length    float64
petal width     float64
iris             object
Child           float64
dtype: object

In [27]:
df.count()

sepal length    150
sepal width     150
petal length    150
petal width     150
iris            150
Child             0
dtype: int64

In [29]:
df.isnull().sum()

sepal length      0
sepal width       0
petal length      0
petal width       0
iris              0
Child           150
dtype: int64

In [30]:
df.describe()['petal length']

count    150.000000
mean       3.758667
std        1.764420
min        1.000000
25%        1.600000
50%        4.350000
75%        5.100000
max        6.900000
Name: petal length, dtype: float64

In [20]:
df.isnull().sum()

sepal length      0
sepal width       0
petal length      0
petal width       0
iris              0
Child           150
dtype: int64

In [49]:
df.head(2)

   sepal length  sepal width  petal length  petal width         iris  Child
0           5.1          3.5           1.4          0.2  Iris-setosa    NaN
1           4.9          3.0           1.4          0.2  Iris-setosa    NaN

In [50]:
df["sepal length"].values[1]

4.9000000000000004

In [51]:
df["sepal length"].values

array([ 5.1,  4.9,  4.7,  4.6,  5. ,  5.4,  4.6,  5. ,  4.4,  4.9,  5.4,
        4.8,  4.8,  4.3,  5.8,  5.7,  5.4,  5.1,  5.7,  5.1,  5.4,  5.1,
        4.6,  5.1,  4.8,  5. ,  5. ,  5.2,  5.2,  4.7,  4.8,  5.4,  5.2,
        5.5,  4.9,  5. ,  5.5,  4.9,  4.4,  5.1,  5. ,  4.5,  4.4,  5. ,
        5.1,  4.8,  5.1,  4.6,  5.3,  5. ,  7. ,  6.4,  6.9,  5.5,  6.5,
        5.7,  6.3,  4.9,  6.6,  5.2,  5. ,  5.9,  6. ,  6.1,  5.6,  6.7,
        5.6,  5.8,  6.2,  5.6,  5.9,  6.1,  6.3,  6.1,  6.4,  6.6,  6.8,
        6.7,  6. ,  5.7,  5.5,  5.5,  5.8,  6. ,  5.4,  6. ,  6.7,  6.3,
        5.6,  5.5,  5.5,  6.1,  5.8,  5. ,  5.6,  5.7,  5.7,  6.2,  5.1,
        5.7,  6.3,  5.8,  7.1,  6.3,  6.5,  7.6,  4.9,  7.3,  6.7,  7.2,
        6.5,  6.4,  6.8,  5.7,  5.8,  6.4,  6.5,  7.7,  7.7,  6. ,  6.9,
        5.6,  7.7,  6.3,  6.7,  7.2,  6.2,  6.1,  6.4,  7.2,  7.4,  7.9,
        6.4,  6.3,  6.1,  7.7,  6.3,  6.4,  6. ,  6.9,  6.7,  6.9,  5.8,
        6.8,  6.7,  6.7,  6.3,  6.5,  6.2,  5.9])

In [52]:
list(df["sepal length"].values)

[5.0999999999999996,
 4.9000000000000004,
 4.7000000000000002,
 4.5999999999999996,
 5.0,
 5.4000000000000004,
 4.5999999999999996,
 5.0,
 4.4000000000000004,
 4.9000000000000004,
 5.4000000000000004,
 4.7999999999999998,
 4.7999999999999998,
 4.2999999999999998,
 5.7999999999999998,
 5.7000000000000002,
 5.4000000000000004,
 5.0999999999999996,
 5.7000000000000002,
 5.0999999999999996,
 5.4000000000000004,
 5.0999999999999996,
 4.5999999999999996,
 5.0999999999999996,
 4.7999999999999998,
 5.0,
 5.0,
 5.2000000000000002,
 5.2000000000000002,
 4.7000000000000002,
 4.7999999999999998,
 5.4000000000000004,
 5.2000000000000002,
 5.5,
 4.9000000000000004,
 5.0,
 5.5,
 4.9000000000000004,
 4.4000000000000004,
 5.0999999999999996,
 5.0,
 4.5,
 4.4000000000000004,
 5.0,
 5.0999999999999996,
 4.7999999999999998,
 5.0999999999999996,
 4.5999999999999996,
 5.2999999999999998,
 5.0,
 7.0,
 6.4000000000000004,
 6.9000000000000004,
 5.5,
 6.5,
 5.7000000000000002,
 6.2999999999999998,
 4.9000000000000004,
 6.5999999999999996,
 5.2000000000000002,
 5.0,
 5.9000000000000004,
 6.0,
 6.0999999999999996,
 5.5999999999999996,
 6.7000000000000002,
 5.5999999999999996,
 5.7999999999999998,
 6.2000000000000002,
 5.5999999999999996,
 5.9000000000000004,
 6.0999999999999996,
 6.2999999999999998,
 6.0999999999999996,
 6.4000000000000004,
 6.5999999999999996,
 6.7999999999999998,
 6.7000000000000002,
 6.0,
 5.7000000000000002,
 5.5,
 5.5,
 5.7999999999999998,
 6.0,
 5.4000000000000004,
 6.0,
 6.7000000000000002,
 6.2999999999999998,
 5.5999999999999996,
 5.5,
 5.5,
 6.0999999999999996,
 5.7999999999999998,
 5.0,
 5.5999999999999996,
 5.7000000000000002,
 5.7000000000000002,
 6.2000000000000002,
 5.0999999999999996,
 5.7000000000000002,
 6.2999999999999998,
 5.7999999999999998,
 7.0999999999999996,
 6.2999999999999998,
 6.5,
 7.5999999999999996,
 4.9000000000000004,
 7.2999999999999998,
 6.7000000000000002,
 7.2000000000000002,
 6.5,
 6.4000000000000004,
 6.7999999999999998,
 5.7000000000000002,
 5.7999999999999998,
 6.4000000000000004,
 6.5,
 7.7000000000000002,
 7.7000000000000002,
 6.0,
 6.9000000000000004,
 5.5999999999999996,
 7.7000000000000002,
 6.2999999999999998,
 6.7000000000000002,
 7.2000000000000002,
 6.2000000000000002,
 6.0999999999999996,
 6.4000000000000004,
 7.2000000000000002,
 7.4000000000000004,
 7.9000000000000004,
 6.4000000000000004,
 6.2999999999999998,
 6.0999999999999996,
 7.7000000000000002,
 6.2999999999999998,
 6.4000000000000004,
 6.0,
 6.9000000000000004,
 6.7000000000000002,
 6.9000000000000004,
 5.7999999999999998,
 6.7999999999999998,
 6.7000000000000002,
 6.7000000000000002,
 6.2999999999999998,
 6.5,
 6.2000000000000002,
 5.9000000000000004]

In [53]:
mylist = list(df["sepal length"].values)
mylist

[5.0999999999999996,
 4.9000000000000004,
 4.7000000000000002,
 4.5999999999999996,
 5.0,
 5.4000000000000004,
 4.5999999999999996,
 5.0,
 4.4000000000000004,
 4.9000000000000004,
 5.4000000000000004,
 4.7999999999999998,
 4.7999999999999998,
 4.2999999999999998,
 5.7999999999999998,
 5.7000000000000002,
 5.4000000000000004,
 5.0999999999999996,
 5.7000000000000002,
 5.0999999999999996,
 5.4000000000000004,
 5.0999999999999996,
 4.5999999999999996,
 5.0999999999999996,
 4.7999999999999998,
 5.0,
 5.0,
 5.2000000000000002,
 5.2000000000000002,
 4.7000000000000002,
 4.7999999999999998,
 5.4000000000000004,
 5.2000000000000002,
 5.5,
 4.9000000000000004,
 5.0,
 5.5,
 4.9000000000000004,
 4.4000000000000004,
 5.0999999999999996,
 5.0,
 4.5,
 4.4000000000000004,
 5.0,
 5.0999999999999996,
 4.7999999999999998,
 5.0999999999999996,
 4.5999999999999996,
 5.2999999999999998,
 5.0,
 7.0,
 6.4000000000000004,
 6.9000000000000004,
 5.5,
 6.5,
 5.7000000000000002,
 6.2999999999999998,
 4.9000000000000004,
 6.5999999999999996,
 5.2000000000000002,
 5.0,
 5.9000000000000004,
 6.0,
 6.0999999999999996,
 5.5999999999999996,
 6.7000000000000002,
 5.5999999999999996,
 5.7999999999999998,
 6.2000000000000002,
 5.5999999999999996,
 5.9000000000000004,
 6.0999999999999996,
 6.2999999999999998,
 6.0999999999999996,
 6.4000000000000004,
 6.5999999999999996,
 6.7999999999999998,
 6.7000000000000002,
 6.0,
 5.7000000000000002,
 5.5,
 5.5,
 5.7999999999999998,
 6.0,
 5.4000000000000004,
 6.0,
 6.7000000000000002,
 6.2999999999999998,
 5.5999999999999996,
 5.5,
 5.5,
 6.0999999999999996,
 5.7999999999999998,
 5.0,
 5.5999999999999996,
 5.7000000000000002,
 5.7000000000000002,
 6.2000000000000002,
 5.0999999999999996,
 5.7000000000000002,
 6.2999999999999998,
 5.7999999999999998,
 7.0999999999999996,
 6.2999999999999998,
 6.5,
 7.5999999999999996,
 4.9000000000000004,
 7.2999999999999998,
 6.7000000000000002,
 7.2000000000000002,
 6.5,
 6.4000000000000004,
 6.7999999999999998,
 5.7000000000000002,
 5.7999999999999998,
 6.4000000000000004,
 6.5,
 7.7000000000000002,
 7.7000000000000002,
 6.0,
 6.9000000000000004,
 5.5999999999999996,
 7.7000000000000002,
 6.2999999999999998,
 6.7000000000000002,
 7.2000000000000002,
 6.2000000000000002,
 6.0999999999999996,
 6.4000000000000004,
 7.2000000000000002,
 7.4000000000000004,
 7.9000000000000004,
 6.4000000000000004,
 6.2999999999999998,
 6.0999999999999996,
 7.7000000000000002,
 6.2999999999999998,
 6.4000000000000004,
 6.0,
 6.9000000000000004,
 6.7000000000000002,
 6.9000000000000004,
 5.7999999999999998,
 6.7999999999999998,
 6.7000000000000002,
 6.7000000000000002,
 6.2999999999999998,
 6.5,
 6.2000000000000002,
 5.9000000000000004]

In [55]:
np.array(mylist)

array([ 5.1,  4.9,  4.7,  4.6,  5. ,  5.4,  4.6,  5. ,  4.4,  4.9,  5.4,
        4.8,  4.8,  4.3,  5.8,  5.7,  5.4,  5.1,  5.7,  5.1,  5.4,  5.1,
        4.6,  5.1,  4.8,  5. ,  5. ,  5.2,  5.2,  4.7,  4.8,  5.4,  5.2,
        5.5,  4.9,  5. ,  5.5,  4.9,  4.4,  5.1,  5. ,  4.5,  4.4,  5. ,
        5.1,  4.8,  5.1,  4.6,  5.3,  5. ,  7. ,  6.4,  6.9,  5.5,  6.5,
        5.7,  6.3,  4.9,  6.6,  5.2,  5. ,  5.9,  6. ,  6.1,  5.6,  6.7,
        5.6,  5.8,  6.2,  5.6,  5.9,  6.1,  6.3,  6.1,  6.4,  6.6,  6.8,
        6.7,  6. ,  5.7,  5.5,  5.5,  5.8,  6. ,  5.4,  6. ,  6.7,  6.3,
        5.6,  5.5,  5.5,  6.1,  5.8,  5. ,  5.6,  5.7,  5.7,  6.2,  5.1,
        5.7,  6.3,  5.8,  7.1,  6.3,  6.5,  7.6,  4.9,  7.3,  6.7,  7.2,
        6.5,  6.4,  6.8,  5.7,  5.8,  6.4,  6.5,  7.7,  7.7,  6. ,  6.9,
        5.6,  7.7,  6.3,  6.7,  7.2,  6.2,  6.1,  6.4,  7.2,  7.4,  7.9,
        6.4,  6.3,  6.1,  7.7,  6.3,  6.4,  6. ,  6.9,  6.7,  6.9,  5.8,
        6.8,  6.7,  6.7,  6.3,  6.5,  6.2,  5.9])

Computing Mean, median, Mode

In [56]:
print (df["sepal length"].mean())
print (df["sepal length"].median())
print (df["sepal length"].mode())
print (df["sepal length"].min())
print (df["sepal length"].max())

5.84333333333
5.8
0    5.0
dtype: float64
4.3
7.9

In [57]:
df.describe()

       sepal length  sepal width  petal length  petal width  Child
count    150.000000   150.000000    150.000000   150.000000    0.0
mean       5.843333     3.054000      3.758667     1.198667    NaN
std        0.828066     0.433594      1.764420     0.763161    NaN
min        4.300000     2.000000      1.000000     0.100000    NaN
25%        5.100000     2.800000      1.600000     0.300000    NaN
50%        5.800000     3.000000      4.350000     1.300000    NaN
75%        6.400000     3.300000      5.100000     1.800000    NaN
max        7.900000     4.400000      6.900000     2.500000    NaN

In [58]:
names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]
ex = list(zip(names,births))
ex

[('Bob', 968), ('Jessica', 155), ('Mary', 77), ('John', 578), ('Mel', 973)]

In [61]:
Sorted = df.sort_values(['sepal length'], ascending=False)
Sorted.head()

,sepal length,sepal width,petal length,petal width,iris,Child
131,7.9,3.8,6.4,2.0,Iris-virginica,NaN
135,7.7,3.0,6.1,2.3,Iris-virginica,NaN
122,7.7,2.8,6.7,2.0,Iris-virginica,NaN
117,7.7,3.8,6.7,2.2,Iris-virginica,NaN
118,7.7,2.6,6.9,2.3,Iris-virginica,NaN

## Subsetting

In [68]:
# max_value = df['sepal length'].max()
df[df['sepal length'] < 5.0]

,sepal length,sepal width,petal length,petal width,iris,Child
1,4.9,3.0,1.4,0.2,Iris-setosa,NaN
2,4.7,3.2,1.3,0.2,Iris-setosa,NaN
3,4.6,3.1,1.5,0.2,Iris-setosa,NaN
6,4.6,3.4,1.4,0.3,Iris-setosa,NaN
8,4.4,2.9,1.4,0.2,Iris-setosa,NaN
9,4.9,3.1,1.5,0.1,Iris-setosa,NaN
11,4.8,3.4,1.6,0.2,Iris-setosa,NaN
12,4.8,3.0,1.4,0.1,Iris-setosa,NaN
13,4.3,3.0,1.1,0.1,Iris-setosa,NaN
22,4.6,3.6,1.0,0.2,Iris-setosa,NaN
24,4.8,3.4,1.9,0.2,Iris-setosa,NaN
29,4.7,3.2,1.6,0.2,Iris-setosa,NaN
30,4.8,3.1,1.6,0.2,Iris-setosa,NaN
34,4.9,3.1,1.5,0.1,Iris-setosa,NaN
37,4.9,3.1,1.5,0.1,Iris-setosa,NaN
38,4.4,3.0,1.3,0.2,Iris-setosa,NaN
41,4.5,2.3,1.3,0.3,Iris-setosa,NaN
42,4.4,3.2,1.3,0.2,Iris-setosa,NaN
45,4.8,3.0,1.4,0.3,Iris-setosa,NaN
47,4.6,3.2,1.4,0.2,Iris-setosa,NaN
57,4.9,2.4,3.3,1.0,Iris-versicolor,NaN
106,4.9,2.5,4.5,1.7,Iris-virginica,NaN

In [77]:
df['sepal length'].min()

4.2999999999999998

In [78]:
df[df['petal length'] >= 5.5]

,sepal length,sepal width,petal length,petal width,iris,Child
100,6.3,3.3,6.0,2.5,Iris-virginica,NaN
102,7.1,3.0,5.9,2.1,Iris-virginica,NaN
103,6.3,2.9,5.6,1.8,Iris-virginica,NaN
104,6.5,3.0,5.8,2.2,Iris-virginica,NaN
105,7.6,3.0,6.6,2.1,Iris-virginica,NaN
107,7.3,2.9,6.3,1.8,Iris-virginica,NaN
108,6.7,2.5,5.8,1.8,Iris-virginica,NaN
109,7.2,3.6,6.1,2.5,Iris-virginica,NaN
112,6.8,3.0,5.5,2.1,Iris-virginica,NaN
116,6.5,3.0,5.5,1.8,Iris-virginica,NaN
117,7.7,3.8,6.7,2.2,Iris-virginica,NaN
118,7.7,2.6,6.9,2.3,Iris-virginica,NaN
120,6.9,3.2,5.7,2.3,Iris-virginica,NaN
122,7.7,2.8,6.7,2.0,Iris-virginica,NaN
124,6.7,3.3,5.7,2.1,Iris-virginica,NaN
125,7.2,3.2,6.0,1.8,Iris-virginica,NaN
128,6.4,2.8,5.6,2.1,Iris-virginica,NaN
129,7.2,3.0,5.8,1.6,Iris-virginica,NaN
130,7.4,2.8,6.1,1.9,Iris-virginica,NaN
131,7.9,3.8,6.4,2.0,Iris-virginica,NaN
132,6.4,2.8,5.6,2.2,Iris-virginica,NaN
134,6.1,2.6,5.6,1.4,Iris-virginica,NaN
135,7.7,3.0,6.1,2.3,Iris-virginica,NaN
136,6.3,3.4,5.6,2.4,Iris-virginica,NaN
137,6.4,3.1,5.5,1.8,Iris-virginica,NaN
140,6.7,3.1,5.6,2.4,Iris-virginica,NaN
143,6.8,3.2,5.9,2.3,Iris-virginica,NaN
144,6.7,3.3,5.7,2.5,Iris-virginica,NaN

In [71]:
df[df['sepal width'] == 3.0].count()

sepal length    26
sepal width     26
petal length    26
petal width     26
iris            26
Child            0
dtype: int64

In [22]:
df = df.drop(['petal width'], axis=1)
df.head()

   sepal width  petal length         iris  Child
0          3.5           1.4  Iris-setosa    NaN
1          3.0           1.4  Iris-setosa    NaN
2          3.2           1.3  Iris-setosa    NaN
3          3.1           1.5  Iris-setosa    NaN
4          3.6           1.4  Iris-setosa    NaN

In [24]:
df.drop(['sepal width'], axis=1, inplace=True)
df.head(2)

   petal length         iris  Child
0           1.4  Iris-setosa    NaN
1           1.4  Iris-setosa    NaN

In [86]:
df[(df['sepal length'] <= 5.0)].count()

sepal length    32
sepal width     32
petal length    32
iris            32
dtype: int64

In [88]:
df[(df['sepal length'] <= 5.0) & (df['sepal width'] <= 3.0)]

     sepal length  sepal width  petal length             iris
1             4.9          3.0           1.4      Iris-setosa
8             4.4          2.9           1.4      Iris-setosa
12            4.8          3.0           1.4      Iris-setosa
13            4.3          3.0           1.1      Iris-setosa
25            5.0          3.0           1.6      Iris-setosa
38            4.4          3.0           1.3      Iris-setosa
41            4.5          2.3           1.3      Iris-setosa
45            4.8          3.0           1.4      Iris-setosa
57            4.9          2.4           3.3  Iris-versicolor
60            5.0          2.0           3.5  Iris-versicolor
93            5.0          2.3           3.3  Iris-versicolor
106           4.9          2.5           4.5   Iris-virginica

In [25]:
df1 = df[["iris"]]
df1.head()

          iris
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

In [29]:
df1 = df1.drop_duplicates()
df1

                iris
0        Iris-setosa
50   Iris-versicolor
100   Iris-virginica

In [30]:
df2 = df1.reset_index()
df2

   index             iris
0      0      Iris-setosa
1     50  Iris-versicolor
2    100   Iris-virginica

   sepal length  sepal width  petal length         iris
0           5.1          3.5           1.4  Iris-setosa
1           4.9          3.0           1.4  Iris-setosa
2           4.7          3.2           1.3  Iris-setosa
3           4.6          3.1           1.5  Iris-setosa
4           5.0          3.6           1.4  Iris-setosa

In [94]:
df.to_csv("mydata.csv",index = False)